{% extends 'base.html' %}
{% load static %}

{% block title %}
    Домашняя страница
{% endblock title %}

{% block img_logo %}
<img alt="preset logo"
     src="https://library.kissclipart.com/20181004/czq/kissclipart-snapshot-icon-transparent-clipart-computer-icons-s-a70a50a60394b814.png"
     width="8%">
{% endblock img_logo %}

{% block title1 %}
<h1>Добро пожаловать на страницу My Presets!</h1>
{% endblock title1 %}

{% block content %}
<p><img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">
<img src="{% static 'img/2DB128C9-AB99-48BC-B427-AB85CEB9BE35.png' %}" alt="preset1" width="25%">

</p>
{% endblock content %}




