{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}
{% block img_logo %}

<img width="13%" src="{% static 'img/C4500EC1-500E-45F4-A24C-9FDAD8914040.png' %}" style="margin: -100px 15px;" alt="preset logo">
{% endblock img_logo %}


{% block link %}
{% endblock link %}

{% block content %}
{% csrf_token %}
{{ report }}
{% if user.is_authenticated %}
<p>Привет {{ user.username }}!</p>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login-page'  %}">Войти в профиль</a>
{% endif %}
{% endblock content %}
{% block content1 %}
    <p>
        <img alt="preset logo"
         src="https://cdn2.sportngin.com/attachments/call_to_action/6111/4201/icon-coaching_large.png"
         width="6%">
        <a href="{% url 'login-page'  %}">Стол заказов</a>
    </p>
    <p>
        <img alt="preset logo"
         src="https://library.hud.ac.uk/webpages/img/icons/document.png"
         width="6%">
        <a href="{% url 'login-page'  %}">Список пожеланий</a>
    </p>
    <p>
        <img alt="preset logo"
         src="https://www.flaticon.com/svg/static/icons/svg/2089/2089768.svg"
         width="6%">
        <a href="{% url 'login-page'  %}">Вопросы и ответы</a>
    </p>
    <p>
        <img alt="preset logo"
         src="https://www.flaticon.com/svg/static/icons/svg/181/181512.svg"
         width="6%">
        <a href="{% url 'contact'  %}">Контакты</a>
    </p>

{% endblock content1 %}
