{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock link %}

{% block content %}
<form class="form-group" action="/login" method="post" onsubmit="return false">
    {% csrf_token %}
    {{ report }}
    <p>
        <label for="login_field">Login</label>
        <input id="login_field" name="login_field" type="text" placeholder="Введите логин">
        <img id="login_ico" src="{% static 'img/question.png' %}" alt="img_result">
        <div id="login_err" class="err"></div>
    </p>
    <p>
        <label for="password_field">Password</label>
        <input id="password_field" name="password_field" type="password" placeholder="Введите пароль">
        <img id="password_ico" src="{% static 'img/question.png' %}" alt="img_result">
        <div id="password_err" class="err"></div>
    </p>

    <input id="submit" type="submit" value="Send" class="button">
    <input type="reset" value="Clear" class="button">
    <input id="check" type="button" value="Check" class="button">
</form>
<script src="{% static 'js/log.js' %}">


</script>
{% endblock content %}