{% extends 'base.html' %}
{% load static %}

{% block title %}
    Что такое пресет?
{% endblock title %}
{% block img_logo %}

<img width="13%" src="{% static 'img/C4500EC1-500E-45F4-A24C-9FDAD8914040.png' %}" style="margin: -100px 15px;" alt="preset logo">
{% endblock img_logo %}

{% block content %}
<div class="green-block text-white" id="title">

    <div style="font-family: 'Caveat', cursive; font-size: 60px; margin: 0px 0px 0px 600px;">
        Что такое пресеты?
    </div>

    <p style="text-align: left; font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; margin: 0px 0px 0px 500px;"><img width="30%" src="https://creativo.one/thumbs_cache/294/comimg/1411870/e3b6d707eaf9002ae4ccd5997ba88d27073f5d58.jpg"  align="right" alt="photo">

        Людям, которые интересовались профессиональной обработкой фото, слово пресет знакомо по компьютерной программе Lightroom. Именно Lightroom и Photoshop - главные инструменты фотографа. Но, так как это уже немного другой уровень, пользователи решили, что для Инстаграм тоже необходимо придумать свои пресеты.

        Так вот, пресет - это сохранённый набор настроек для обработки фотографий. Это может быть архив в определенном приложении, или в различных программах. Сохраняют настройки экспозиции, баланс белого, контраст, показатели кривых и так далее.

        То есть, вы просто берете новые фильтры и пользуетесь ими. Пресеты в основном создают блогеры, фотографы, ретушеры, иногда обычные пользователи.

    </p>
        <p style="text-align: left; font-family: 'Open Sans Condensed', sans-serif; font-size: 20px;  margin: 0px 0px 0px 500px;">
        Многим людям, которые интересовались профессиональной обработкой фото, слово пресет знакомо по компьютерной
        программе Lightroom. Именно Lightroom и Photoshop - главные инструменты фотографа. Но, так как это уже немного
        другой уровень, пользователи решили, что для Инстаграм тоже необходимо придумать свои пресеты.

        Так вот, пресет - это сохранённый набор настроек для обработки фотографий. Это может быть архив в определенном
        приложении, или в различных программах. Сохраняют настройки экспозиции, баланс белого, контраст, показатели
        кривых и так далее.

        То есть, вы просто берете новые фильтры и пользуетесь ими. Пресеты в основном создают блогеры, фотографы,
        ретушеры, иногда обычные пользователи.

    </p>
        </div>
{% endblock content %}


    {% block content2 %}
    <div class="green-block text-white" id="title2">
        <div style="font-family: 'Caveat', cursive; font-size: 60px;">
            Зачем нужна обработка?
        </div>

        <p style="text-align: left; font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; margin: 0px 650px 0px 650px;">
            Если вы считаете, что обработанный снимок — тонны неестественной цветокоррекции, то это не совсем так.
            Любые изменения в цвете и свете будут обработкой. Поэтому если чуть-чуть прибавили яркости и резкости в
            снимке, то это уже не #nofilter.
        </p>
        <p style="text-align: left; font-family: 'Open Sans Condensed', sans-serif;font-size: 20px; margin: 0px 650px 0px 650px;">
            Подавляющее большинство пользователей так или иначе отрабатывает снимки. Мы меняем цвета, температуру,
            добавляем
            контраст не потому, что хотим кого-то обмануть. Камера часто не способна передать красоту момента и то,
            как ее видит человеческий глаз. Обработка может помочь сделать кадр более эмоциональным. Это также
            художественный
            инструмент, который придаст кадру особенное настроение или добавит новые смыслы.
        </p>
        <img width="30%" src="https://filterhero.ru/wp-content/uploads/2019/06/beftoreafter11.jpg" alt="photo">

    </div>
    {% endblock content2 %}
