nav{
    background: url(https://image.freepik.com/free-photo/beautiful-glossy-green-leaves-grass-background_121837-1622.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    height: 300px;
    padding: 10px;
    text-align: left;
    justify-content: left;
}
.title{

    background: white;
    /*background-color: rgba(11, 33, 11, 10%);*/
    color:  black;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    text-align: left;
    padding: 0px 15px;
    width: 1800px;


}
.menu{
     list-style-type: none;
    margin: 0;
    margin: -8px -8px 1px -8px;
    text-align: left;
    justify-content: left;
}
.name{

    text-align: right;
    justify-content: right;
}
.menu{
     list-style-type: none;
    margin: -7px;
    padding: 0;
}
.menu a {
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-size: 13px;
  min-height: 10px;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  background-color: OliveDrab;
  border-bottom: 5px solid DarkGreen;
}
.menu li {
  display: inline;
}
.title1{

    background: white;
    /*background-color: rgba(11, 33, 11, 10%);*/
    color:  black;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    text-align: center;
    padding: 0px 15px;
    width: 1800px;


}
img{
    opacity: 100%;
}


.container{
    background: white;
    /*background-color: rgba(11, 33, 11, 10%);*/

    width: 800px;
    min-height: 400px;
    width: 1400px;
    min-height: 300px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 70px 0px 60px 0px;

}


.container1{
    background: white;
    /*background-color: rgba(11, 33, 11, 10%);*/
    color: black;
    width: 400px;
    min-height: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: justify;
    padding: 10px 15px;
    margin: -300px 0px 0px 1450px;

}
.container2{
    background: white;
    /*background-color: rgba(11, 33, 11, 10%);*/
    color: black;
    min-height: 400px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    margin: 70px 0px 0px 0px;
    padding: 10px 15px;
    justify-content: right;
}

footer{
    background: url(https://cdn.pixabay.com/photo/2018/10/15/07/33/background-3748312_960_720.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    border-style: none;
    color: gold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;

    height: 50px;
    padding: 10px;
    justify-content: center;

    text-align: center;

.order_details_table{background:#e5ecee;padding:30px;margin-top:75px}@media (min-width: 767px){.order_details_table{margin-top:45px}}.order_details_table h2{color:#222;font-size:18px;padding-bottom:15px}.order_details_table .table{margin-bottom:0px}.order_details_table .table thead tr th{border-bottom:1px solid #ddd;font-size:14px;font-weight:normal}.order_details_table .table tbody tr td p{margin-bottom:0px}.order_details_table .table tbody tr td h5{color:#222;margin-bottom:0px}.order_details_table .table tbody tr td h4{font-size:14px;text-transform:uppercase;margin-bottom:0px;color:#222}.order_details_table .table tbody tr:last-child td{border-top:1px solid #ddd}.order_details_table .table tbody tr:last-child td p{color:#777}


