{% extends 'base.html' %}
{% load static %}

{% block title %}
Удаление
{% endblock title %}
{% block img_logo %}

<img width="13%" src="{% static 'img/C4500EC1-500E-45F4-A24C-9FDAD8914040.png' %}" style="margin: 30px 15px;" alt="preset logo">
{% endblock img_logo %}

{% block content %}

<form action="/product/merchan/{{ merchan.slug }}/delete_merchan" method="post">
    {% csrf_token %}
    <h1>Вы точно хотите удалить группу {{ merchan.name }}?</h1>
    <a href="{% url 'product_homepage' %}">Назад</a>
    <input id="submit" type="submit" value="Delete" class="button">
    
</form>


{% endblock content %}